@font-face {
    font-family: 'Proxima Nova Black';
    src: url('fonts/ProximaNova-Black.woff2') format('woff2'),
        url('fonts/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova ExtraBold';
    src: url('fonts/ProximaNova-Extrabld.woff2') format('woff2'),
        url('fonts/ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}