@import 'fonts.css';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: ''
}

input:focus,
textarea:focus,
a:focus,
button:focus,
select:focus {
    outline: 0
}

ins {
    text-decoration: none
}

del,
s,
strike {
    text-decoration: line-through
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
    margin: 0
}

* {
    box-sizing: border-box
}

img {
    border: none;
    vertical-align: top;
    max-width: 100%;
    height: auto
}

html {
    height: 100%
}

.page-wrapper,
.footer {
    max-width: none;
    min-width: 0;
    width: 100%;
    margin: 0 auto
}

body {
    font-family: 'Proxima Nova Bold';
    min-height: 100vh;
    line-height: 1;
}

.page-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.wrapper {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
    background-color: #dfdad4;
    width: 100%;
    max-width: 2560px;
    padding: 70px 15px 94px;
}

.wrapper:before {
    content: '';
    position: absolute;
    z-index: 1;
    background: url(../img/img-star.svg) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
}

.wrapper>* {
    position: relative;
    z-index: 2;
}

h1,
h2,
h3 {
    text-align: center;
    color: #4f5064;
    text-transform: uppercase;
}

h1 {
    font-family: 'Proxima Nova Black';
    font-size: 50px;
    letter-spacing: .140em;
}

h2 {
    font-family: 'Proxima Nova ExtraBold';
    font-size: 30px;
    letter-spacing: .08em;
}

h3 {
    font-family: 'Proxima Nova ExtraBold';
    font-size: 23px;
    letter-spacing: .08em;
}

.title {
    margin-bottom: 56px;
}

.title h2 {
    margin-bottom: 10px;
}

.title h1 {
    margin-bottom: 18px;
}

.triangle {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.triangle__wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
    width: 992px;
    border-bottom: 3px solid #fff;
}

.triangle__item {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    height: 172px;
    width: 100%;
}

.triangle__item--level-1 {
    background-color: #f3724b;
    max-width: 0;
}

.triangle__item--level-2 {
    background-color: #f58c1f;
    max-width: 198px;
}

.triangle__item--level-3 {
    background-color: #ffd801;
    max-width: 396px;
}

.triangle__item--level-4 {
    background-color: #a5bb4c;
    max-width: 594px;
}

.triangle__item--level-5 {
    background-color: #16a69d;
    max-width: 792px;
}

.triangle__decor {
    display: block;
    border-bottom: 3px solid #ffffff;
    width: 100%;
    position: absolute;
}

.triangle__decor:before {
    content: '';
    position: absolute;
    top: 3px;
    width: 0;
    height: 0;
    border-style: solid;
}

.triangle__decor:after {
    content: '';
    position: absolute;
}

.triangle__decor--left {
    right: 0;
}

.triangle__decor--right {
    left: 0;
}

.triangle__decor--left:before {
    right: 100%;
}

.triangle__decor--right:before {
    left: 100%;
}

.triangle__decor--left:after {
    height: 202px;
    width: 3px;
    left: 0;
    top: 0;
    background-color: #ffffff;
    transform: rotate(30deg);
    transform-origin: top;
}

.triangle__decor--right:after {
    height: 202px;
    width: 3px;
    right: 0;
    top: 0;
    background-color: #ffffff;
    transform: rotate(-30deg);
    transform-origin: top;
}

.triangle__item--level-1 .triangle__decor--left:before {
    border-width: 0 0 169px 97px;
    border-color: transparent transparent #f3724b transparent;
}

.triangle__item--level-1 .triangle__decor--right:before {
    border-width: 169px 0 0 97px;
    border-color: transparent transparent transparent #f3724b;
}

.triangle__item--level-2 .triangle__decor--left:before {
    border-width: 0 0 169px 97px;
    border-color: transparent transparent #f58c1f transparent;
}

.triangle__item--level-2 .triangle__decor--right:before {
    border-width: 169px 0 0 97px;
    border-color: transparent transparent transparent #f58c1f;
}

.triangle__item--level-3 .triangle__decor--left:before {
    border-width: 0 0 169px 97px;
    border-color: transparent transparent #ffd801 transparent;
}

.triangle__item--level-3 .triangle__decor--right:before {
    border-width: 169px 0 0 97px;
    border-color: transparent transparent transparent #ffd801;
}

.triangle__item--level-4 .triangle__decor--left:before {
    border-width: 0 0 169px 97px;
    border-color: transparent transparent #a5bb4c transparent;
}

.triangle__item--level-4 .triangle__decor--right:before {
    border-width: 169px 0 0 97px;
    border-color: transparent transparent transparent #a5bb4c;
}

.triangle__item--level-5 .triangle__decor--left:before {
    border-width: 0 0 169px 97px;
    border-color: transparent transparent #16a69d transparent;
}

.triangle__item--level-5 .triangle__decor--right:before {
    border-width: 169px 0 0 97px;
    border-color: transparent transparent transparent #16a69d;
}

.triangle__outtext {
    position: absolute;
    width: 160px;
    right: calc(100% + 2px);
    bottom: 91px;
    font-family: 'Proxima Nova Bold';
    text-transform: uppercase;
    text-align: center;
    color: #51423d;
    font-size: 16px;
    letter-spacing: 0.02em;
    transform: rotate(-60deg);
    transform-origin: center;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
}

.triangle__outtext:before {
    content: '';
    position: absolute;
    height: 10px;
    width: 2px;
    background-color: #ffffff;
    left: 0;
    bottom: -10px;
}

.triangle__outtext:after {
    content: '';
    position: absolute;
    height: 10px;
    width: 2px;
    background-color: #ffffff;
    right: 0;
    bottom: -10px;
}

.triangle__content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 194px);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.triangle__content-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.triangle__icon {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
}

.triangle__icon img,
.triangle__icon svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.triangle__item--level-1 .triangle__text {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    color: #603620;
    padding-top: 70px;
    z-index: 2;
}

.triangle__item--level-1 .triangle__icon {
    width: 88px;
    height: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 75px;
}

.triangle__item--level-2 .triangle__text {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    color: #8e4222;
    padding-top: 123px;
    z-index: 2;
}

.triangle__item--level-2 .triangle__icon {
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 17px;
}

.triangle__item--level-3 .triangle__content {
    padding: 0 52px 13px;
    align-items: flex-end;
    height: 100%;
}

.triangle__item--level-3 .triangle__text {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    color: #765e38;
}

.triangle__item--level-3 .triangle__icon {
    margin-bottom: 10px;
}

.triangle__item--level-3 .triangle__content-item:nth-child(1) .triangle__icon {
    width: 84px;
    height: 61px;
}

.triangle__item--level-3 .triangle__content-item:nth-child(2) .triangle__icon {
    width: 88px;
    height: 88px;
}

.triangle__item--level-3 .triangle__content-item:nth-child(3) .triangle__icon {
    width: 82px;
    height: 88px;
}

.triangle__item--level-3 .triangle__content-item:nth-child(4) .triangle__icon {
    width: 74px;
    height: 88px;
}

.triangle__item--level-4 .triangle__content {
    padding: 0 52px 13px;
    align-items: flex-end;
    height: 100%;
}

.triangle__item--level-4 .triangle__text {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    color: #5a692a;
}

.triangle__item--level-4 .triangle__icon {
    margin-bottom: 10px;
}

.triangle__item--level-4 .triangle__content-item:nth-child(1) .triangle__icon {
    width: 80px;
    height: 105px;
}

.triangle__item--level-4 .triangle__content-item:nth-child(2) .triangle__icon {
    width: 134px;
    height: 105px;
}

.triangle__item--level-4 .triangle__content-item:nth-child(3) .triangle__icon {
    width: 97px;
    height: 105px;
}

.triangle__item--level-5 .triangle__content {
    padding: 0 52px 13px;
    align-items: flex-end;
    height: 100%;
}

.triangle__item--level-5 .triangle__text {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    color: #06645e;
}

.triangle__item--level-5 .triangle__icon {
    margin-bottom: 10px;
}

.triangle__item--level-5 .triangle__content-item:nth-child(1) .triangle__icon {
    width: 102px;
    height: 105px;
}

.triangle__item--level-5 .triangle__content-item:nth-child(2) .triangle__icon {
    width: 138px;
    height: 106px;
}

.triangle__item--level-5 .triangle__content-item:nth-child(3) .triangle__icon {
    width: 126px;
    height: 105px;
}

@media screen and (max-width: 1115px) {
    .triangle__wrapper {
        transform: scale(.8);
        transform-origin: top;
    }

    .wrapper {
        padding: 40px 15px 40px;
    }

    .wrapper:before {
        background-size: cover;
        background-position: center top;
        left: 50%;
        top: 50%;
        height: 70%;
        transform: translate(-50%, -50%);
        background-size: contain;
    }

    .title {
        margin-bottom: 40px;
    }

    h2 {
        font-size: 24px;
    }

    h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 1030px) {
    .wrapper:before {
        display: none;
    }

    .triangle__wrapper {
        transform: scale(1);
        border: none;
        width: calc(100% - 200px);
    }

    .triangle__decor {
        display: none;
    }

    .triangle__item {
        max-width: 100%;
    }

    .triangle__item--level-1 .triangle__text {
        padding-top: 56px;
    }

    .triangle__item--level-1 .triangle__icon {
        width: 100px;
        height: 100px;
        top: 37px;
    }

    .triangle__item--level-2 .triangle__icon {
        width: 230px;
        height: 94px;
        top: 18px;
    }

    .triangle__content {
        position: relative;
        top: 0;
        left: 0;
        transform: translateX(0);
        width: 100%;
    }

    .triangle__item--level-3 .triangle__content {
        padding: 0 15px 15px;
    }

    .triangle__item--level-3 .triangle__content-item .triangle__icon {
        width: 88px !important;
        height: 88px !important;
    }

    .triangle__item--level-4 .triangle__content {
        padding: 0 15px 15px;
    }

    .triangle__item--level-4 .triangle__content-item .triangle__icon {
        width: 100px !important;
        height: 100px !important;
    }

    .triangle__item--level-5 .triangle__content {
        padding: 0 15px 15px;
    }

    .triangle__item--level-5 .triangle__content-item .triangle__icon {
        width: 120px !important;
        height: 110px !important;
    }

    .triangle__outtext {
        width: auto;
        min-width: 160px;
        max-width: 100%;
        right: calc(100% - 50px);
        bottom: 72px;
        font-size: 14px;
        letter-spacing: 0.02em;
        transform: rotate(-90deg);
    }
}

@media screen and (max-width: 870px) {
    .triangle__item .triangle__content {
        padding: 15px !important;
        -ms-align-items: flex-start;
        align-items: flex-start;
    }

    .triangle__item--level-2 .triangle__icon {
        position: relative;
        top: 0;
        left: 0;
        transform: translateX(0);
        margin-bottom: 10px;
    }

    .triangle__item--level-2 .triangle__text {
        padding-top: 0;
    }

    .triangle__item--level-1 .triangle__text {
        padding-top: 24px;
    }

    .triangle__item--level-1 .triangle__icon {
        top: 25px;
    }

    .triangle__content-item {
        padding: 0 5px;
    }

    .triangle__item--level-3 .triangle__content-item .triangle__icon,
    .triangle__item--level-4 .triangle__content-item .triangle__icon,
    .triangle__item--level-5 .triangle__content-item .triangle__icon {
        width: 80px !important;
        height: 80px !important;
    }

    .triangle__item--level-1 .triangle__icon {
        width: 80px;
        height: 80px;
    }

    .triangle__item {
        height: auto;
    }

    .triangle__outtext {
        transform: rotate(0deg) translateX(-50%);
        width: 95%;
        left: 50%;
        bottom: auto;
        top: -46px;
    }

    .title {
        margin-bottom: 76px;
    }

    .triangle__item:not(:last-child) {
        margin-bottom: 85px;
    }
}

@media screen and (max-width: 768px) {
    .triangle__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .triangle__item--level-3 .triangle__content-item {
        width: 50%;
    }

    .triangle__item--level-4 .triangle__content-item {
        width: 50%;
    }

    .triangle__item--level-5 .triangle__content-item {
        width: 50%;
    }

    .triangle__item--level-3 .triangle__content-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .triangle__item--level-4 .triangle__content-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .triangle__item--level-5 .triangle__content-item:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .triangle__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .triangle__wrapper {
        width: calc(100% - 30px);
    }
}

@media screen and (max-width: 500px) {

    .triangle__item--level-3 .triangle__content-item {
        width: 100%;
    }

    .triangle__item--level-4 .triangle__content-item {
        width: 100%;
    }

    .triangle__item--level-5 .triangle__content-item {
        width: 100%;
    }

    .triangle__item--level-3 .triangle__content-item:not(:last-child) {
        margin-bottom: 30px;
    }

    .triangle__item--level-4 .triangle__content-item:not(:last-child) {
        margin-bottom: 30px;
    }

    .triangle__item--level-5 .triangle__content-item:not(:last-child) {
        margin-bottom: 30px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
    }
}